Package: chouette
Version: 3.0.0
Section: misc
Priority: optional
Architecture: all
Depends: java7-runtime,  postgresql (>= 9.4)
Maintainer: dev <dev@cityway.fr>
Description: WildFly Application Server
Homepage: http://www.chouette.mobi
