Package: irys-chouette-server
Version: 2.2.0
Section: misc
Priority: optional
Architecture: all
Depends: tomcat7, postgresql
Maintainer: dev <dev@cityway.fr>
Description: SIRI Server
Homepage: http://www.chouette.mobi
